@model RowerOwO.Areas.Admin.ViewModels.RentalCreateViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Zarezerwuj pojazd</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label>Punkt wypożyczeń</label><br />
                <select id="rentalPointSelect" class="form-select">
                    @foreach (var item in Model.RentalPointList)
                    {
                        <option>@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Pojazd</label><br />
                <select name="vehicleSelect" class="form-select">
                    @foreach(var item in Model.VehicleList)
                    {
                        <option>@item.Name</option>
                    }
                </select>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RentFrom" class="control-label">Od</label>
                <input asp-for="RentFrom" class="form-control" type="date" />
                <span asp-validation-for="RentFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentTill" class="control-label">Do</label>
                <input asp-for="RentTill" class="form-control" type="date"/>
                <span asp-validation-for="RentTill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function selectedRentalPoint(selected){

        return selected;
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
