@{
    ViewData["Title"] = "RowerOwO";
}

<div class="text-center">
    <div class="title-component">
        <h1>Rower<font color="#FFACAC">OwO</font></h1>
        <p>T-to nie tak że chcę pożyczyć ci rower >//////<</p>
    </div>
</div>

<div class="bike-section">
    <table>
        <tr>
            <img src="img\bike1.png"/>
            <img src="img\bike2.png"/>
            <img src="img\bike3.png"/>
        </tr>
    </table>
</div>

<div class="home-section">
    <h1>Potrzebujesz transportu? We got you~</h1>
    <p>W RowerOwO wypożyczysz miejski pojazd odpowiedni do twoich potrzeb. Rower, deskorolka, hulajnoga elektryczna? - u nas znajdziesz to i wiele więcej :DDD</p>
    <form action="/Vehicle">
        <input type="submit" class="button-round" style="margin-top:25px;" value="Zobacz ofertę">
    </form>
</div>

<div>
    <h1 class="contact-header">Kontakt</h1>
    <p>
        <ul>
            <li>Telefon: 123 123 123</li>
            <li>Mail: damian.kravietzki@gmail.com</li>
            <li>Aleja końska, Warszawa</li>
        </ul>
    </p>
</div>
