@model IEnumerable<RowerOwO.Areas.Admin.ViewModels.RoleListViewModel>

<div class="container-fluid">
    <h1>Zarządzanie rolami</h1>

    <table>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td><a href="/Admin/DeleteRole/@role.Id" class="button-round-inverted"><i class="bi bi-trash"></i></a></td>
            </tr>
        }
        <tr>
            @using (Html.BeginForm("CreateRole", "Admin"))
            {
                <td><input name="newRoleName" /></td>
                <td><input type="submit" class="button-round-inverted" value="Dodaj rolę"></td>
            }                      
        </tr>
    </table>
</div>